.input {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title {
    > h2 {
      color: #f9f9f9;
      font-size: 64px;
    }
  }
  &__wrapper {
    padding-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
    > input {
      background: none;
      border: none;
      outline: none;
      width: 345px;
      height: 65px;
      border: 1px solid gray;
      border-radius: 12px;
    }
    ::placeholder {
      padding-left: 50px;
    }
  }
  &__icon {
    position: absolute;
    left: 10px;
  }
}
