.input {
  @include breakpoint(sm) {
    margin-top: 80px;
  }
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    @include breakpoint(lg) {
      max-width: 900px;
    }
    @include breakpoint(md) {
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    > h2 {
      color: #f9f9f9;
      font-size: 64px;
    }
  }
  &__wrapper {
    padding-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
    @include breakpoint(xs) {
      width: 100%;
      padding-inline: 30px;
    }
    > input {
      background: none;
      border: none;
      outline: none;
      width: 345px;
      height: 65px;
      border: 1px solid gray;
      border-radius: 12px;
      @include breakpoint(xs) {
        width: 100%;
        position: relative;
      }
    }
    ::placeholder {
      padding-left: 50px;
    }
  }
  &__icon {
    position: absolute;
    left: 10px;
    @include breakpoint(xs) {
      width: 100%;
      padding-inline: 30px;
    }
  }
}
