@import "./globals/";
@import "./components/";
@import "./pages/";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
body {
  background: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0.1);
  width: 100%;
  height: 100%;
}
